<p id="notice"><%= notice %></p>

<h1><%= t('.moderation') %></h1>

<h4>You have <%= @comments.size %> comment(s) to moderate</h4>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Comment</th>
      <th>Post ID</th>
      <th>User (ID)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.id %></td>
        <td><%= comment.body %></td>
        <td><%= comment.commentable_id %></td>
        <td><%= comment.user.name %> (<%= comment.user_id %>)</td>
        <td><%= link_to 'Details', comment %></td>    
      </tr>
    <% end %>
  </tbody>
</table>