<h1>Edit all justifies</h1>

  <% @comments.each do |comment| %>
    <p>
      <b>Who</b>?:</b>
      <%= comment.user.name %>
      <b>Approved:</b>
      <%= comment.approved %>
      <p>
        <b>Comment:</b>
        <%= comment.body %>
      </p>
      <p>
        <b>Justify:</b>
      </p>
      <%= simple_form_for comment, method: 'put' do |c| %>
        <p>
          <%= c.input :justify, label: false, placeholder: "Justify" %>
        </p>
      <% end %>
    </p>
    <hr />
    <%= button_tag 'Salvar' %>
  <% end %>

<%= link_to t('.back'), comments_path %>