<p id="notice"><%= notice %></p>

<h1>Edit all justifies</h1>

<%= simple_form_for Comment.new, url: all_justify_moderation_path, method: :post do |f| %>
  <% @comments.each do |comment| %>
    <p>
      <b>Who</b>?:</b>
      <%= comment.user.name %>
      <b>Approved:</b>
      <%= comment.approved %>
      <b>Visible:</b>
      <%= comment.visible %>
      <p>
        <b>Comment:</b>
        <%= comment.body %>
      </p>
      <p>
        <b>Justify:</b>
      </p>
    </p>
    <%= f.simple_fields_for "comment[]", comment do |justify| %>
      <%= hidden_field_tag("comment[visible]", true) %>
      <p>
        <%= justify.input :justify, label: false, placeholder: "Justify" %>
      </p>
    <% end %>
  <% end %>
  <%= button_tag 'Salvar' %>
  <hr />
<% end %>

<%= link_to t('.back'), comments_path %>