<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :avatar %>
    <%= form.file_field :avatar %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= form.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %><br />
    <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <%= form.fields_for :profile do |p| %>
    <fieldset>
      <legend>Profile</legend>
      <%= p.label :description %>
      <%= p.text_field :description %>
    </fieldset>
  <% end %>

  <div id="addresses">
    <%= form.fields_for :addresses do |address| %>    
      <%= render 'address_fields', f: address %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'Add Address', form, :addresses %>
    </div>
  </div>

  <fieldset>
    <legend>Profile Role</legend>
    <div class="field">
      <%= form.label :admin %>
      <%= form.check_box :admin %>
    </div>

    <div class="field">
      <%= form.label :supervisor %>
      <%= form.check_box :supervisor %>
    </div>

    <div class="field">
      <%= form.label :collaborator %>
      <%= form.check_box :collaborator %>
    </div>
  </fieldset>

  <fieldset>
    <legend>System Role</legend>
    <div class="field">
      <%= form.select :role, User.roles.keys.map {|role| [role.titleize, role]} %>
    </div>
  </fieldset>

  <br />

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).on('turbolinks:load', function() {
    $('#addresses').on('cocoon:after-insert', function(e, added_el) {
      return added_el.find("input").first().focus();
    });
    return $('#addresses').on('cocoon:before-remove', function(e, el_to_remove) {
      $(this).data('remove-timeout', 1000);
      return el_to_remove.fadeOut(1000);
    });
  });
</script>