<p id="notice"><%= notice %></p>

<h1>Users</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>

  <%= f.label :email_cont %>
  <%= f.search_field :email_cont %>

  <%= f.label :admin_eq, 'Admin?' %>
  <%= f.check_box :admin_eq, {}, 1, nil %>

  <%= f.label :supervisor_eq, 'Supervisor?' %>
  <%= f.check_box :supervisor_eq, {}, 1, nil %>

  <%= f.label :collaborator_eq, 'Collaborator?' %>
  <%= f.check_box :collaborator_eq, {}, 1, nil %>

  <%= f.label :role %>
  <%= f.select :role_eq, User.roles.map { |r| [r[0], r[1].to_i] }, include_blank: true %>

  <%= f.submit name: '' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Admin</th>
      <th>Supervisor</th>
      <th>Collaborator</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.admin %></td>
        <td><%= user.supervisor %></td>
        <td><%= user.collaborator %></td>
        <td><%= user.role %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>

<br>

<% if can? :manage, User %>
  <%= link_to 'New User', new_user_path %>
<% end %>
