<ul>
  <li>
    <%=link_to "Pagina home", root_path %></li>
  <li>
      <%=link_to "Pagina admin", admin_path %>
  </li>
  <li>
    <%=link_to "Pagina supervisor", supervisor_path %>
  </li>
  <li>
    <%=link_to "Pagina colaborador", collaborator_path %>
  </li>
  <li>
    <%=link_to "Pagina carros", cars_path %>
  </li>
  <li>Bem vindo,
    <%= current_user.name %>
    (<%= current_user.role %>)
  </li>
  <li>
    <%=link_to "Sair", destroy_user_session_path, method: :delete %>
  </li>
</ul>