<ul>
  <li>
    <%=link_to "Pagina home", root_path %></li>
  <li>
    <%=link_to "Pagina admin", admin_path %>
  </li>
  <li>
    <%=link_to "Pagina supervisor", supervisor_path %>
  </li>
  <li>
    <%=link_to "Pagina colaborador", collaborator_path %>
  </li>
  <li>
    <%=link_to "Pagina usuários", users_path %>
  </li>
  <li>
    <%=link_to "Pagina de posts", posts_path %>
  </li>
  <li>
    <%=link_to "Pagina de auditoria", audities_path %>
  </li>
  <li>
    <%=link_to "Pagina de moderacao", comments_path %>
  </li>
  <li>
    <%=link_to "Pagina carros", cars_path %>
  </li>
  <li>Bem vindo,
    <%= current_user.name %>
    (Regra: <strong><%= current_user.role %></strong>)
    <strong>Admin:</strong> <%= current_user.admin? %>
    <strong>Supervisor:</strong> <%= current_user.supervisor? %>
    <strong>Collaborator:</strong> <%= current_user.collaborator? %>
  </li>
  <li>
    <%=link_to "Sair", destroy_user_session_path, method: :delete %>
  </li>
</ul>