<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @post.tag %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>

<p>
  <strong>Criado em:</strong>
  <%= @post.created_at.strftime("%d/%m/%Y") %>
</p>

----------------------------------------------------------------
<h3>Comments (<%= @post.comments.size %>)</h3>

<% @post.comments.each do |comment| %>
  <p>
    <b>User:</b>
    <%= comment.user.name %>
  </p>
  <p>
    <b>Created At:</b>
    <%= comment.created_at.strftime("%d/%m/%Y") %>
  </p>
  <p>
    <b>Comment:</b>
    <%= comment.body %>
  </p>
  <hr />
<% end %>

<h3>Send comment:</h3>

<%= simple_form_for [@post, Comment.new] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :body, label: false  %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

----------------------------------------------------------------
<br />
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
