<%= form_with(model: car) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :marca %>
    <%= form.text_field :marca %>
  </div>

  <div class="field">
    <% if current_user.role == 'manager' || current_user.admin? %>
      <%= form.label :user %>
      <%= form.collection_select :user_id, User.where(role: 'registred'), :id, :name %>
    <% elsif current_user.role == 'superadmin' && !current_user.admin? %>
      <%= form.label :user %>
      <%= form.collection_select :user_id, User.all, :id, :name %>
    <% else %>
      <% if current_user.role != 'registred' %>
        <%= form.label :user %>
        <%= form.collection_select :user_id, User.where(id: current_user.id), :id, :name %>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
