<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.photos') %></strong>
  <% if @car.photos.attached? %>
    <% @car.photos.each do |photo| %>
      <%= image_tag photo.variant(:thumb) %>
    <% end %>
  <% else %>
    Não há imagem
  <% end %>
</p>

<p>
  <strong><%= t('.name') %></strong>
  <%= @car.name %>
</p>

<p>
  <strong><%= t('.mark') %></strong>
  <%= @car.marca %>
</p>

<p>
  <strong><%= t('.price') %></strong>
  <%= number_to_currency_br(@car.price) %>
</p>

<p>
  <strong><%= t('.user') %></strong>
  <%= @car.user.name %>
</p>

----------------------------------------------------------------
<div style="color: #f90">
  <h3>Observations</h3>

  <% @car.notes.each do |note| %>
    <p>
      <b><%= t('.user') %></b>
      <%= user.name %>
    </p>
    <p>
      <b><%= t('.comment') %></b>
      <%= car.note %>
    </p>
    <hr />
  <% end %>

  <%= simple_form_for [@car, Comment.new] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.input :body, label: false  %>

    <div class="form-actions">
      <%= f.button :submit, t('.create_comment') %>
    </div>
  <% end %>
</div>

----------------------------------------------------------------
<h3><%= t('.comments') %> (<%= @car.comments.size %>)</h3>

<% @car.comments.each do |comment| %>
  <p>
    <b><%= t('.user') %></b>
    <%= comment.user.name %>
  </p>
  <p>
    <b><%= t('.created_at') %></b>
    <%= comment.created_at.strftime("%d/%m/%Y") %>
  </p>
  <p>
    <b><%= t('.comment') %></b>
    <%= comment.body %>
  </p>
  <hr />
<% end %>

<h3><%= t('.send_comment') %></h3>

<%= simple_form_for [@car, Comment.new] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :body, label: false  %>

  <div class="form-actions">
    <%= f.button :submit, t('.create_comment') %>
  </div>
<% end %>

----------------------------------------------------------------
<br />
<%= link_to t('.edit'), edit_car_path(@car) %> |
<%= link_to t('.back'), cars_path %>
